# Frontend Client Environment Variables Example

VITE_API_URL="https://ezy-ticket-server-eta.vercel.app/api/v1"
VITE_SERVER_URL="https://ezy-ticket-server-eta.vercel.app"
VITE_PAYMENT_PK="pk_test_your_stripe_publishable_key"
